.scroll-pane {
    -fx-background:  linear-gradient(to right, rgba(163,254,252,0.8) 0%, rgba(234,153,255,0.8) 100%);
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: rgba(163,254,252,0);
}

.thumb {
    -fx-background-color: rgba(234,153,255,0.8);
}

.corner {
    -fx-background-color: transparent;
}

.increment-arrow , .decrement-arrow {
    -fx-background-color: rgba(234,153,255,0);
}

.increment-button , .decrement-button {
    -fx-background-color: rgba(163,254,252,0);
}