/*
 * Empty Stylesheet file.
 */


.list-cell {
    -fx-background-color: #999999;
}

.list-cell:selected {
    -fx-background-color: #999999;
    -fx-text-fill:white;
}

.comboBox{
    -fx-background-color: #333333;
    -fx-font-weight: bold;
}

.button{
    -fx-background-color: #333333;
    -fx-text-fill:white;
}

.tableView .column-header .label {
    -fx-text-fill: white;
    -fx-background-color: #333333;
}

.tableView .table-cell{
    -fx-font-size: 14px;
}