/*
 * Empty Stylesheet file.
 */

/*.mainFxmlClass {

}*/

*{
    -fx-font-family:sans-serif;
}


VBox.popup{
    -fx-background-color:#d3d3d3;
    -fx-font-size:10;
    -fx-spacing:10;
    -fx-padding:20;
    -fx-alignment:TOP_CENTER;
    -fx-border-style:none;
    -fx-effect:dropshadow(three-pass-box,rgba(0,0,0,0.2),10,0,0,0)
    
}

HBox.labelpopup{
    -fx-font-size:15;
}
Label.labelpopup{
    -fx-text-fill:white;
}
Button.buttonPopup{
    -fx-pref-width:100;
    -fx-pref-height:30;
    -fx-background-color:grey;
    -fx-text-fill:white
}

AnchorPane{
    -fx-background-color:#d3d3d3;
}
Label.labelSession{
    -fx-text-fill:white;
}
HBox.session{
    -fx-spacing:10;
}